@model IEnumerable<WebApplication1.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/restViews.css">

    <title>Restaurants</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    @using (Html.BeginForm("Index", "Reservations", FormMethod.Get))
    {
        //the following are search options
        @Html.RadioButton("option", "Restaurant") <text>Restaurant</text>
        @Html.RadioButton("option", "City") <text> City </text>
        @Html.RadioButton("option", "Category")<text>Category</text>
        @Html.TextBox("search")
        <input type="submit"
               name="submit"
               value="Search" />
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Restaurant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfPeople)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservationDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Restaurant.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>