@model WebApplication1.Models.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/restViews.css">

    <title>Restaurant Details</title>
</head>
<body>

    <p>
        <h3>Reservations for restaurant @Html.DisplayName(Model.Items[0].RestaurantName)</h3>
        <h5>City: @Html.DisplayName(Model.Items[0].City)</h5>
        <h5>Address: @Html.DisplayName(Model.Items[0].Address)</h5>
        <h5>Category: @Html.DisplayName(Model.Items[0].Category)</h5>
    </p>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].NumberOfPeople)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfPeople)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <p>
            <a href="/Reservations/Create" class="btn btn-md custom-btn">Book Now</a>
        </p>
        <a asp-action="Index">Back to List</a>
    </div>
</body>